
/* ===== إعدادات عامة ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f5f5f5;
}

/* ===== الهيدر ===== */
header{
    height:90px;
    width:100%;
    background:#00bcd4;

    display:flex;
    align-items:center;

    justify-content:space-between; /* يفصل بين اليمين واليسار */
    padding:0 20px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo h1{
    font-size:22px;
    color:#000;
}

.logo img{
    width:40px;
    height:40px;
    border-radius:8px;
}

/* ===== البحث ===== */
.search_input{
    padding:6px;
    border-radius:5px;
    border:1px solid #ccc;
}

.button_search{
    padding:6px 10px;
    border:none;
    background:#fff;
    cursor:pointer;
}

/* ===== الناف بار ===== */
nav{
    background:#fff;
    padding:10px;
    border-bottom:1px solid #ddd;
    width: 100%;
    height: 45px;
}

.social ul{
    list-style:none;
    margin-left: 20PX;
}

.social ul li{
    margin-top: 5PX;
    padding:5px 10px;
    float: left;
}

.social ul li a{
       color:#333;
    }
    .social ul li a:hover{
       color: #0F74F5;
    }
.section UL{
    list-style: none;
}
.section ul li{
    float: right;
    padding: 5PX 3PX;
    margin-left: 5px;

}
.section ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 3px;
    border-radius: 5px;
}
.section ul li a:hover{
    background-color: #f5aa2e;
    color: #0F74F5;
}



/* ===== المنتجات ===== */
/* ===== Grid مضبوط ===== */
main{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:12px;
    padding:15px;
}

/* ===== الكرت ===== */
.product{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    margin-top: 40px;
}

/* ===== الصورة (الحل الأساسي) ===== */
.product_img{
    width:100%;
    height:140px;
    overflow:hidden;
}

.product_img img{
    width:100%;
    height: 90%;
    object-fit:cover;
    display:block;
}

/* ===== النصوص ===== */
.product_name{
    font-weight:bold;
    margin:5px 0;
    padding:0 10px;
}

.product_price{
    color:red;
    margin:5px 0;
    padding:0 10px;
}

.product_description{
    font-size:13px;
    padding:0 10px;
}

.product_section{
    float: left;
   border-radius: 4px 6px;
   box-shadow: #f5aa2e;
}
/* ===== الكمية ===== */
.qty_input{
    display:flex;
    justify-content:center;
    gap:5px;
    margin:10px 0;
}

.qty_input input{
    width:50px;
    text-align:center;
}

/* ===== زر ===== */
.addto_cart{
    width:100%;
    padding:8px;
    background:#00bcd4;
    border:none;
    color:#fff;
    cursor:pointer;
}

/* ===== الفوتر ===== */
.foter-container{
    background:#ddd;
    padding:15px;
    text-align:center;
    margin-top:20px;
}


/* منع أي صورة تخرب التصميم */
/* img{
    max-width:100%;
    height:auto;
    display:block;
} */

/* تثبيت اللوقو */
.logo img{
    width:40px;
    height:40px;
    object-fit:cover;
}

/* صور المنتجات */
/* .product_img img{
    width:100%;
    height:130px;
    object-fit:cover;
} */

/* صور last-post */
.last-post img{
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius:50%;
}

.last-post{
    direction: rtl;
    width: 100%;
    background-color: #f8f8f8;
border-radius: 4px solid white;
}
.last-post h4{
    float: right;
    color: #0808;
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;
}
.last-post ul{
    list-style: none;
    margin: 2px;
    padding: 3px;
}
.last-post .span-img img{
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 15px;
}
.cart ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.cart ul li{
    display: inline-block;
    margin-left: 15px;
    padding: 2px;
    font-size: 24px;
    margin-bottom: 15px;
}
.cart ul li a:hover{
    background-color: #00bcd4;
}
.cart-icon{
    position: relative;
    display: inline-block;
}
.cart-count{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff0000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 12px;

}

.order-icon {
    position: relative;
    display: inline-block;
    font-size: 22px;
}

.order-icon .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}