body{
    font-family: "Tahoma", sans-serif;
    direction: rtl;
}
main{
   main{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:10px;        /* 👈 كان كبير (20+) */
    padding:10px;    /* 👈 كان كبير */
}
}

/* الكرت */
.product{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    transition:0.3s;
    position:relative;
    padding-bottom:15px;
    padding:8px;
}

.product:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,0.15);
}

/* الصورة */
.product_img img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:18px 18px 0 0;
}

/* القسم */
.product_section{
    display:inline-block;
    margin:10px auto;
    background:#e9f5ff;
    color:#0077cc;
    padding:5px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

/* الاسم */
.product_name{
    font-size:17px;
    font-weight:700;
    margin:8px 0;
}

/* السعر */
.product_price{
    font-size:18px;
    font-weight:bold;
    color:#e63946;
    margin:5px 0;
}

/* وصف */
.product_description{
    font-size:13px;
    color:#666;
    margin:8px 0;
}

/* الكمية */
.qty_input{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
    margin:10px 0;
}

.qty_input input{
    width:50px;
    text-align:center;
    border:1px solid #ddd;
    border-radius:6px;
}

/* أزرار + - */
.gty_count_mins,
.gty_count_add{
    background:#eee;
    border:none;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    transition:0.2s;
}

.gty_count_mins:hover,
.gty_count_add:hover{
    background:#ddd;
}

/* زر الإضافة */
.addto_cart{
    width:90%;
    background:linear-gradient(135deg,#00a8ff,#0077cc);
    color:#fff;
    border:none;
    padding:10px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.addto_cart:hover{
    transform:scale(1.03);
}
